

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .container #footer{
    margin-top: 20px;
  }

  .row{
    margin-top: 10px;
  }
  .header .row button{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    font-size: 30px;
    background-color: turquoise;
  }

  .container .boundary{
    margin-top: 1%;
    width: 100%;
    height: 1px;
    background-color: lawngreen;
  }